
  body{
    background-color: #FFE7BF;
  }
  h1{
    color: #66BFBF;
  }

  h3{
    color: #66BFBF;
  }


  td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

  hr{
  background-color: dark;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  height: 2px;
  width: 5%;
  }
  .col-sm-8 {
    background-color:rgba(0,0,0,0);
  }
